// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix:after, .itemlist:after, .compare_box:after{
	content:"";
	display: table;
	clear: both;
}



.login{
	position: absolute;
	margin-left:100px;
	margin-top: 20px;
}





.login-bg img{
	max-width:100%;
	background-size: cover;
	z-index:-999;
}
.home-banner {
  position: absolute;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: #FFFFFF;
	font-size: 60px;
	margin-top: 100px;
	margin-left: 100px;

}


.home-banner img{
  float: left;
  z-index:-999;
  background-size: cover;
  max-width:100%;
}



.itemlist{
	float: left;
  margin:30px;
  max-width:1080px;
	height:600px;
}

.itemlist img{
	width:400px;

}

.itemlist  a{
  text-decoration-line: none;
  font-size: 20px;
}

.itemlist strong {
	font-size: 30px;
	color:#E73C3C;
}

.itemshow{
	float: left;
  margin-left:40px;
  margin-top:20px;
  padding:10px;
  max-width:1080px;
	height:600px;
}

.itemshow tr{
	width:900px;
}




.itemshow img{
	max-width:800px;
	float: left;

}

.itemshow  a{
  text-decoration-line: none;
  font-size: 20px;
}

.itemshow strong {
	font-size: 30px;
	color:#E73C3C;
}


#my-cart tr{
	border: 1px solid;
	border-color: #000000;
}

#my-cart th{
	background-color: #C0C0C0;
	text-align: center;
}

#my-cart td{
	padding:5px;
	text-align: left;
}


.compare_btn{
	margin-left:40px;
	padding-bottom: 100px;
}


#compare th{
	background-color: #C0C0C0;
	text-align: center;
	width: 100px;
}


#compare tr{
	border:1px solid;
	border-color: #000000;
}

#compare td{
	padding:5px;
	text-align: left;
}


.form-group{
	margin-left: 100px;
	width:350px;
}

.ordernew{
	position: absolute;
}

.order-bg img{
	margin-left:380px;
}

.orderitem{
	margin-left: 100px;
}

.orderitem th{
	background-color: #5FD086;
	text-align: center;
	width:100px;

}

.orderitem tr{
	border:1px solid;
	border-color: #000000;
}

.orderitem td{
	padding:10px;
	text-align: center;
	font-size: 16px;
}

.my_order{
	margin-left:100px;
}

.my_order th{
	background-color: #5FD086;
	text-align: center;
	width:150px;
	border:1px solid;
	border-color: #000000;
}



.my_order td{
	border:1px solid;
	border-color: #000000;
	text-align: center;
}
